# ---- Python basics
__pycache__/
*.py[cod]
*.pyo
*.orig
*.log

#Virtual envs & local config
.venv/
.env
.env.*
.vscode/
.idea/

#OS files
.DS_Store
Thumbs.db

#Data & generated outputs
data/raw/
outputs/

#Documentation assets (always keep)
docs/img/
